@import "tailwindcss";

body {
  @apply bg-[#0e100f] text-orange-100;
  a {
    @apply transition-all ease-in-out duration-100;
  }
}

a:hover {
  @apply text-orange-300;
}

/* width */
::-webkit-scrollbar {
  @apply w-[2px];
}
/* Track */
::-webkit-scrollbar-track {
  @apply bg-transparent;
}
/* Handle */
::-webkit-scrollbar-thumb {
  @apply bg-orange-50 rounded;
}::-webkit-scrollbar-thumb:hover {
  @apply bg-orange-300;
}
